<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
</head>
<body bgcolor="black">
<h1 align="center" style="color: white; font-size: 60px; font-family: century gothic">Здравствуй, посетитель</h1>
<h2 align="center" style="color: white; font-size: 30px; font-family: century gothic">Messenger by Tansylu&Kirill</h2>
<a  href="{{ url_for('main') }}"  style="color: white; align=center;font-size: 30px; font-family: century gothic"> Главная страница</a>
    <a href="http://tansylu.beget.tech/Green/index.html#home" style="color: white; align=center;font-size: 30px; font-family: century gothic"> Закирка</a>
</body>
</html>
